* {
    color: #2C272E;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: #eee;
    margin: 0px;
    padding: 0px;
}

.navbar ul {
    z-index: 1;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #2C272E;
    margin: 0px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #2C272E;
}

.navbar ul li{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    color: white;
}

.section-presentation {
    background-image: url(/public/img/background-banner1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    filter: grayscale(50%);
    font-size: 42px;
}
.section-presentation div.typing-text {
    color: white;
    background-color: #3337;
    padding: 10px;
    transition: 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-presentation div.typing-text:hover {
    padding: 15px;
}

.typing-text-cursor {
    width: 5px;
    height: 42px;
    background-color: white;
    display: inline-block;
    margin: 2px;
    animation-name: typing-text-cursor-blink;
    animation-duration: 1 s;
    animation-iteration-count: infinite;
}

@keyframes typing-text-cursor-blink {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}